<link rel="stylesheet" href="/assets/css/header.css">
<header class="border-bottom fix-header">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a title="BS Logo" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none" href="/dashboard">
                <img src="/assets/images/logo.png" alt="Logo" class="logo">
            </a>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li class="active">
                    <a class="nav-link link-dark" href="/">Brewscape</a>
                </li>
                <li>
                    <a class="nav-link link-dark" href="/brewtifulgifts">Brewtiful Gifts</a>
                </li>
                <li>
                    <a class="nav-link link-dark" href="/brewer-service">Brewer Service</a>
                </li>
                <li>
                    <a class="nav-link link-dark cursor-pt" href="/brew-pay">Brew & Pay</a>
                </li>
                <li>
                    <a class="nav-link link-dark" href="/brew-havens">Brew Havens</a>
                </li>
            </ul>
            
            <div   class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                <div   class="search-form">
                    <img  src="/assets/images/search.svg" alt="search" class="fa-search" tabindex="0">
                    <input type="text" placeholder="Looking for something?" class="form-control form-input custom-search-box">
                </div>
            </div>
            <div class="dropdown text-end profile-icon">
                <a id="dropdownUser1" class="d-block link-dark text-decoration-none" href="/login">
                    <img src="/assets/images/avatar.png" alt="profile icon" width="32" height="32" class="rounded-circle">
                </a>
            </div>
            </div>
        </div>
</header>