<link rel="stylesheet" type="text/css" href="/assets/css/gift.css">
<section class="menu-bar">
    <div class="menu-list-item">
        <div class="menu">
            <div class="container">
                <div class="row">
                    <div class="mainViewer ng-star-inserted">
                        <div id="content" class="content">
                            <div class="col-12">
                                <div class="item_scroll">
                                    <div class="d-flex">
                                        <div class="border-right ng-star-inserted">
                                            <a href="/brewtifulgifts/featured" class="item_link menu_link animate__animated animate__fadeIn  btn-bottom-border">
                                                FEATURED
                                            </a>
                                        </div>
                                        <div class="border-right ng-star-inserted">
                                            <a href="/brewtifulgifts/anytime" class="item_link menu_link animate__animated animate__fadeIn menu-btn-hover">
                                                ANYTIME
                                            </a>
                                        </div>
                                        <div class="border-right ng-star-inserted">
                                            <a href="/brewtifulgifts/congratulations" class="item_link menu_link animate__animated animate__fadeIn menu-btn-hover">
                                                CONGRATULATIONS
                                            </a>
                                        </div>
                                        <div class="border-right ng-star-inserted">
                                            <a href="/brewtifulgifts/thank-you" class="item_link menu_link animate__animated animate__fadeIn menu-btn-hover">
                                                THANK YOU
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>