<section class="top-section">
    <div class="container">
        <div class="row">
            <div class="col-12 card-section">
                <div class="card">
                    <h2 class="card-title-order">Place Your Order: A Culinary Adventure Awaits</h2>
                    <p class="card-text">Embark on a delightful culinary journey with our diverse menu at Brew Stack. It's time to satisfy your cravings and experience the fusion of flavors. Whether it's a quick snack, a hearty meal, or a sweet indulgence, our menu has something special for every palate. From the rich aroma of freshly brewed coffee to the tantalizing taste of our signature dishes, every order is a celebration of exceptional flavors. Order now and treat yourself to a feast of delicious moments!</p>
                </div>
            </div>
        </div>
    </div>
</section>
