<link rel="stylesheet" type="text/css" href="/assets/css/gift.css">
<div class="gift-page-wrapper">  
    <%-include('_topMenuGifts')%>

    <%-include('_menuGifts')%>
    

    <section  class="all-item">
        <div  class="bdy-card btm-space">
            <div  class="container">
                <div  class="row cat-title">
                    <div  class="col-12">
                        <h2 >Anytime</h2>
                    </div>
                </div>
            </div>
            <hr  class="line">
            <div class="main-card">
                <div class="container">
                    <div class="row mt-4 mb-4">
                        <div class="col-12 col-md-4 padding-right-0 tabview-non-featured">
                            <div class="order-card">
                                <div class="img-square-wrapper">
                                    <img alt="cafe special" src="/assets/images/coffee-home.png">
                                </div>
                                <div class="card mb-2">
                                    <div class="card-horizontal">
                                        <div class="card-body">
                                            <h3 class="card-title">Signature Blend</h3>
                                            <p class="card-text">
                                                Experience the richness and unique flavors of our exclusive Signature Blend. Perfect for coffee enthusiasts!
                                            </p>
                                            <div class="a2c">
                                                <button type="button" class="custom-btn btn-green btn-sm-rounded" onclick="addItemToCart('Signature Blend', 100.50)">
                                                    Add Item
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
            
                        <!-- Gift Card 2 -->
                        <div class="col-12 col-md-4 padding-right-0 tabview-non-featured">
                            <div class="order-card">
                                <div class="img-square-wrapper">
                                    <img alt="cafe special" src="/assets/images/Frap.png">
                                </div>
                                <div class="card mb-2">
                                    <div class="card-horizontal">
                                        <div class="card-body">
                                            <h3 class="card-title">Caramel Delight</h3>
                                            <p class="card-text">
                                                Indulge in the sweet and velvety goodness of our Caramel Delight. A delightful treat for your taste buds.
                                            </p>
                                            <div class="a2c">
                                                <button type="button" class="custom-btn btn-green btn-sm-rounded" onclick="addItemToCart('Caramel Delight', 100.50)">
                                                    Add Item
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
            
                        <!-- Gift Card 3 -->
                        <div class="col-12 col-md-4 padding-right-0 tabview-non-featured">
                            <div class="order-card">
                                <div class="img-square-wrapper">
                                    <img alt="cafe special" src="/assets/images/latte.png">
                                </div>
                                <div class="card mb-2">
                                    <div class="card-horizontal">
                                        <div class="card-body">
                                            <h3 class="card-title">Mocha Madness</h3>
                                            <p class="card-text">
                                                Dive into the rich and chocolatey experience of our Mocha Madness. A perfect choice for chocolate lovers.
                                            </p>
                                            <div class="a2c">
                                                <button type="button" class="custom-btn btn-green btn-sm-rounded" onclick="addItemToCart('Mocha Madness', 100.50)">
                                                    Add Item
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
            
                        <!-- Gift Card 4 -->
                        <div class="col-12 col-md-4 padding-right-0 tabview-non-featured">
                            <div class="order-card">
                                <div class="img-square-wrapper">
                                    <img alt="cafe special" src="/assets/images/desserts-home.jpg">
                                </div>
                                <div class="card mb-2">
                                    <div class="card-horizontal">
                                        <div class="card-body">
                                            <h3 class="card-title">Vanilla Bliss</h3>
                                            <p class="card-text">
                                                Savor the smooth and comforting taste of our Vanilla Bliss. A classic choice for those who love timeless flavors.
                                            </p>
                                            <div class="a2c">
                                                <button type="button" class="custom-btn btn-green btn-sm-rounded" onclick="addItemToCart('Vanilla Bliss', 100.50)">
                                                    Add Item
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Gift Card 5 -->
                        <div class="col-12 col-md-4 padding-right-0 tabview-non-featured">
                            <div class="order-card">
                                <div class="img-square-wrapper">
                                    <img alt="cafe special" src="/assets/images/latte.png">
                                </div>
                                <div class="card mb-2">
                                    <div class="card-horizontal">
                                        <div class="card-body">
                                            <h3 class="card-title">Espresso Elegance</h3>
                                            <p class="card-text">
                                                Embrace the bold and intense flavors of our Espresso Elegance. A perfect pick-me-up for coffee connoisseurs.
                                            </p>
                                            <div class="a2c">
                                                <button type="button" class="custom-btn btn-green btn-sm-rounded" onclick="addItemToCart('Espresso Elegance', 100.50)">
                                                    Add Item
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Gift Card 6 -->
                        <div class="col-12 col-md-4 padding-right-0 tabview-non-featured">
                            <div class="order-card">
                                <div class="img-square-wrapper">
                                    <img alt="cafe special" src="/assets/images/tea-home.webp">
                                </div>
                                <div class="card mb-2">
                                    <div class="card-horizontal">
                                        <div class="card-body">
                                            <h3 class="card-title">Hazelnut Heaven</h3>
                                            <p class="card-text">
                                                Immerse yourself in the nutty and aromatic blend of our Hazelnut Heaven. A delightful choice for a cozy evening.
                                            </p>
                                            <div class="a2c">
                                                <button type="button" class="custom-btn btn-green btn-sm-rounded" onclick="addItemToCart('Hazelnut Heaven', 100.50)">
                                                    Add Item
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            
        </div>
    </section>

</div>
