<link rel="stylesheet" type="text/css" href="/assets/css/gift.css">
<link rel="stylesheet" type="text/css" href="/assets/css/order.css">
<link rel="stylesheet" type="text/css" href="/assets/css/about.css">

<div class="order-page-wrapper ">

    <section class="top-section">
        <div class="container">
            <div class="row">
                <div class="col-12 card-section">
                    <div class="card">
                        <h2 class="card-title-order">Our Heritage</h2>
                        <p class="card-text">
                            Welcome to Brew Stack - where every sip tells a story of rich heritage, passion, and a 
                            commitment to excellence that spans generations. Our journey is steeped in a tradition 
                            that transcends time, weaving together the finest coffee beans, artisanal craftsmanship, 
                            and a dedication to creating a coffee experience like no other.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="main-container">
        <div class="text-container">
            <h1><span class="welcome">Our Roots</span></h1>

            <p class="mt-2 text-home">
                Brew Stack was founded in 2023 by Harmehar, a visionary coffee enthusiast with a 
                deep-rooted love for the art of coffee making. Inspired by the age-old coffee traditions from 
                around the world, Harmehar Kaur set out on a mission to bring the finest coffee beans to your 
                cup, creating a blend that captures the essence of our heritage.
            </p>
        </div>
    </section>

    <section class="founder">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="section-title">The Craftsmanship</h2>
                    <p class="section-text">
                        Our commitment to quality is not just a promise; it's a tradition passed down through the 
                        hands of skilled craftsmen who meticulously roast and blend each batch of coffee. Every 
                        step of the process, from sourcing the beans to packaging the final product, reflects our 
                        dedication to preserving the authenticity of our heritage.
                    </p>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="section-title">Sourcing Excellence</h2>
                    <p class="section-text">
                        At the heart of our heritage is the selection of the finest coffee beans from the most 
                        renowned coffee-growing regions. We forge relationships with coffee farmers who share our 
                        commitment to sustainability, fair trade, and ethical farming practices. This ensures that 
                        every cup of Brew Stack not only tantalizes your taste buds but also reflects 
                        our pledge to support and uplift coffee-growing communities.
                    </p>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="section-title">Timeless Blends</h2>
                    <p class="section-text">
                        Our signature blends are a testament to the artistry of coffee-making. Each blend is 
                        carefully crafted to deliver a symphony of flavors that dance on your palate. Whether you 
                        savor the bold richness of our dark roasts or indulge in the smooth subtleties of our light 
                        roasts, every cup carries the legacy of our heritage.
                    </p>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="section-title">Innovating Tradition</h2>
                    <p class="section-text">
                        While we honor our roots, we are also driven by a spirit of innovation. Our team of master 
                        blenders and roasters constantly explores new techniques and flavor profiles to push the 
                        boundaries of what's possible in the world of coffee. The result is a fusion of tradition 
                        and innovation, creating a coffee experience that evolves with the times while remaining 
                        true to our heritage.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="founder">
        
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="section-title">Join Us on the Journey</h2>
                    <p class="section-text">
                        As you enjoy a cup of Brew Stack, you're not just sipping on coffee; you're savoring a 
                        piece of our history. We invite you to join us on this journey of heritage, taste, and 
                        exploration. Together, let's celebrate the rich tapestry of our coffee legacy, one cup at a 
                        time. 
                        <br>
                        Brew Stack - Where Tradition Meets Taste, and Every Sip Tells a Tale.
                    </p>
                </div>
            </div>
        </div>

    </section>

</div>