<link rel="stylesheet" type="text/css" href="/assets/css/faq.css">
<link rel="stylesheet" type="text/css" href="/assets/css/index.css">

<div class="dashboard-page-wrapper">

    <section class="about-us">
        <div  class="card">
            <div  class="card-body container">
                <div  class="row align-items-center">
                    <div  class="col-8">
                        <h5 >Affordable Coffee: Now Everyone can enjoy what they like</h5>
                    </div>
                    <div  class="col-4 text-right" style="color: aqua;">
                        <a  href="/about" class="custom-btn btn-outline btn-sm-rounded" style="box-shadow: none;">
                            Know More
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section>
        <div class="handpicked-section">
            <div  class="container">
                <div  class="row">
                    <div  class="col-12">
                        <h2  class="animate__animated animate__fadeIn">Handpicked By Brew Crew</h2>
                    </div>
                </div>
                <div  class="row">
                    <div  class="col-12 d-flex justify-content-between flex-wrap">
                        <div  class="handpicked-item">
                            <div  class="cat-img">
                                <a href="/brewer-service/coffee">
                                    <img  width="90px" height="90px" alt="Handcrafted Curations" src="images/coffee-home.png" style="border-radius: 50%;">
                                    <p style="text-align: center;">Coffee</p>
                                </a>
                                
                            </div>
                        </div>
                        <div  class="handpicked-item">
                            <div  class="cat-img">
                                <a href="/brewer-service/tea">
                                    <img  width="90px" height="90px" alt="Handcrafted Curations" src="/assets/images/tea-home.webp" style="border-radius: 50%;">
                                    <p style=" text-align: center;">Tea</p>
                                </a>
                            </div>
                        </div>
                        <div  class="handpicked-item">
                            <div  class="cat-img">
                                <a href="/brewer-service/snacks" >
                                    <img  width="90px" height="90px" alt="Handcrafted Curations" src="/assets/images/snacks-home.jpg" style="border-radius: 50%;">
                                    <p style="text-align: center;">Snacks</p>
                                </a>
                                
                            </div>
                        </div>
                        <div  class="handpicked-item">
                            <div  class="cat-img">
                                <a href="/brewer-service/kids" >
                                    <img  width="90px" height="90px" alt="Handcrafted Curations" src="/assets/images/kids-home.jpeg" style="border-radius: 50%;">
                                    <p style="display: block; text-align: center;">For your Kids</p>
                                </a>
                                
                            </div>
                        </div>
                        <div  class="handpicked-item">
                            <div  class="cat-img">
                                <a href="/brewer-service/deserts">
                                    <img  width="90px" height="90px" alt="Handcrafted Curations" src="/assets/images/desserts-home.jpg" style="border-radius: 50%;">
                                    <p  style="text-align: center;">Desserts</p>
                                </a>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="favourites-section recommends-section light-yellow-panel">
        <span  class="right-leaf">
            <img  src="images/greyleafright.svg" alt="green-tier" rel="preload">
        </span>
        <div  class="container">
            <div  class="row">
                <div  class="col-12 col-sm-8 favourites-section-label">
                    <h2  class="m-0 animate__animated animate__fadeIn">
                        <span> Barista Recommends </span>
                    </h2>
                </div>
                <div  class="col-4 text-right">
                    <h6  class="d-none d-sm-block" tabindex="0">
                        <a href="/ordering">View Menu</a>
                    </h6>
                </div>
                <div class="card-wrapper">
                    <div class="card-recommend card">
                        <div class="card-horizontal ">
                            <div class="img-square-wrapper">
                                <img alt="product one" src="images/latte.png">
                            </div>
                            <div class="card-body">
                                <div class="veg-newlaunch">
                                    <div class="veg">
                                        <img src="images/veg.jpg" alt="veg-item" width="10px" height="10px">
                                    </div>
                                </div>
                                <h3 class="card-title">Cappuccino</h3>
                                <div class="diet">
                                    <h5 class="diet-info">
                                        <span class="card-subtitle mb-2 text-muted">TALL(Tall Strawberry Milkshake)<br>
                                            PER SERVE (354ml) - 569 Kcal</span>
                                    </h5>
                                </div>
                            </div>
                        </div>
                        <div class="card-bottom">
                            <div class="left-item">
                                <h4 class="price">₹ 100<span class="round-figure">.50</span></h4>
                            </div>
                            <div class="left-item">
                                <button type="button" class="custom-btn btn-green btn-sm-rounded" id="addItemBtn1" onclick="addItemToCart('Cappuccino', 100.50)">Add Item</button>
                            </div>
                        </div>
                    </div>

                    <div class="card-recommend card">
                        <div class="card-horizontal ">
                            <div class="img-square-wrapper">
                                <img alt="product one" src="images/Frap.png">
                            </div>
                            <div class="card-body">
                                <div class="veg-newlaunch">
                                    <div class="veg">
                                        <img src="images/veg.jpg" alt="veg-item" width="10px" height="10px">
                                    </div>
                                </div>
                                <h3 class="card-title">Chocolate Milkshake</h3>
                                <div class="diet">
                                    <h5 class="diet-info">
                                        <span class="card-subtitle mb-2 text-muted">TALL(Tall Chocolate Milkshake)<br>
                                            PER SERVE (354ml) - 569 Kcal</span>
                                    </h5>
                                </div>
                            </div>
                        </div>
                        <div class="card-bottom">
                            <div class="left-item">
                                <h4 class="price">₹ 167<span class="round-figure">.50</span></h4>
                            </div>
                            <div class="left-item">
                                <button type="button" class="custom-btn btn-green btn-sm-rounded" onclick="addItemToCart('Chocolate Milkshake', 167.50)">Add Item</button>
                            </div>
                        </div>
                    </div>

                    
                    
                </div>    
            </div>
        </div>
    </section>

    <section style="height: 35rem; margin: 0;">
        <iframe 
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3505.195375255784!2d77.25544577475286!3d28.533846675718788!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce16191417ed5%3A0xea70340aaeac5f9f!2s587%2C%20Street%20No.%206%2C%20Govindpuri%20Extension%2C%20Govindpuri%2C%20New%20Delhi%2C%20Delhi%20110019!5e0!3m2!1sen!2sin!4v1702708419556!5m2!1sen!2sin" 
            width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
        >
        </iframe>
    </section>

    <section class="FAQ" id="brewstack-faq">
        <h1 class="acad">Brew Stack FAQ:</h1>
        <h1>Frequently Asked Questions</h1>
        <p class="p-3">
            Explore answers to commonly asked questions and find information about our coffee community, brewing techniques, and more.
        </p>
        <div class="faq-box">
            <div class="faq-row">
                <button class="faq-btn">
                    <span id="faq-quest">How do I make the perfect cup of coffee at Brew Stack?</span>
                    <i class="fa-solid fa-plus faq-icon"></i>
                </button>
                <div class="faq-content">
                    <p>Discover the art of brewing at Brew Stack! Follow our expert tips and explore the variety of coffee beans we offer to create your perfect cup of coffee.</p>
                </div>
            </div>
            <div class="faq-row">
                <button class="faq-btn">
                    <span id="faq-quest">Can I suggest a new coffee blend for Brew Stack?</span>
                    <i class="fa-solid fa-plus faq-icon"></i>
                </button>
                <div class="faq-content">
                    <p>Absolutely! We welcome your coffee blend suggestions. Share your unique ideas, and who knows, your blend might become the next Brew Stack favorite!</p>
                </div>
            </div>
            <div class="faq-row">
                <button class="faq-btn">
                    <span id="faq-quest">How can I join Brew Stack's coffee tasting events?</span>
                    <i class="fa-solid fa-plus faq-icon"></i>
                </button>
                <div class="faq-content">
                    <p>Immerse yourself in the world of coffee by participating in our coffee tasting events. Stay updated on our community page for announcements about upcoming tastings and events.</p>
                </div>
            </div>
            <div class="faq-row">
                <button class="faq-btn">
                    <span id="faq-quest">How do I provide feedback on Brew Stack's coffee?</span>
                    <i class="fa-solid fa-plus faq-icon"></i>
                </button>
                <div class="faq-content">
                    <p>Your feedback is important to us! Click on the CONTACT US button to share your thoughts. We appreciate your input in helping us enhance your Brew Stack experience.</p>
                </div>
            </div>
        </div>
    </section>
</div>

<script src="js/faq.js"></script>
<script src="js/index.js"></script>