<link rel="stylesheet" type="text/css" href="/assets/css/login.css">
<div>
    <section class="company-name">
        <h2> Brew Stack</h2>
    </section>

    <section class="form-container mt-4 form-login">
        <form action="/login/create-session" class="needs-validation" method="post">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control input" id="email" name="email" placeholder="Email" required>
                <div class="invalid-feedback">
                    Please enter a valid email.
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control input" id="password" name="password" placeholder="Password" required>
                <div class="invalid-feedback">
                    Please enter your password.
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Sign In</button>
        </form>
    </section>

    <% if (locals.user) { %>
    <section class="sign-out">
            <a href="/login/sign-out" class="sign-up-link">Sign-out</a>
    </section>
    <% } %>

    <section class="sign-up">
        <p class="mt-3 sign-up-que">Don't have an account? 
            <a href="/signup" class="sign-up-link">Sign up</a>
        </p>
    </section>
</div>