<link rel="stylesheet" href="/assets/css/index.css">
<link rel="stylesheet" href="/assets/css/diversity.css">


<div class="dashboard-page-wrapper">
    <section class="about-us">
        <div  class="card">
            <div  class="card-body container">
                <div  class="row align-items-center">
                    <div  class="col-8">
                        <h5 >Privacy Policy</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="main-container">
            <div class="text-container">
                <h1>
                    <span class="welcome">Privacy Policy for Brew Stack Coffee</span>
                </h1>

                <p class="mt-2 text-home">
                    At Brew Stack Coffee, we are committed to protecting your privacy and ensuring the security of 
                    your personal information. This Privacy Policy outlines our practices regarding the collection, 
                    use, and disclosure of your information when you interact with our website, services, and products.
                    By using Brew Stack Coffee, you agree to the terms outlined in this policy.
                    <br>
                    <br>
                    <strong>Information We Collect</strong>
                    <ol>
                        <li>
                            <strong>Personal Information:</strong>
                            We may collect personal information, such as your name, email address, and contact 
                            details when you sign up for our newsletter, create an account, or place an order.
                        </li>
                        <li>
                            <strong>Payment Information:</strong> 
                            When you make a purchase, we collect payment information such as credit card details. Rest assured, we use secure payment gateways to safeguard your financial data.
                        </li>
                        <li>
                            <strong>Usage Data:</strong> 
                            We automatically collect information about your interaction with our website, including your IP address, browser type, device information, and pages visited. This helps us improve our services and user experience.
                        </li>
                    </ol>
                    <br>
                    <strong>How We Use Your Information</strong>
                    <ol>
                        <li>
                            <strong>Order Processing</strong>
                            We use your personal and payment information to process and fulfill your orders, send order confirmations, and provide customer support.
                        </li>
                        <li>
                            <strong>Communication</strong> 
                            With your consent, we may send you newsletters, promotional materials, and updates about Brew Stack Coffee. You can opt-out of these communications at any time.
                        </li>
                        <li>
                            <strong>Analytics and Improvement</strong> 
                            We use usage data to analyze trends, track the performance of our website, and make continuous improvements to enhance your experience.
                        </li>
                    </ol>
                    <br>
                    <strong>Information Sharing:</strong>
                    <ol>
                        <li>
                            <strong>Service Providers:</strong>
                            We may share your information with trusted third-party service providers who assist us in delivering our services, processing payments, or analyzing website performance.
                        </li>
                        <li>
                            <strong>Legal Compliance:</strong> 
                            We may disclose your information when required by law, to protect our rights, or in response to a valid legal request.
                        </li>
                    </ol>
                    <br>
                    <strong>Your Choices:</strong>
                    <ol>
                        <li>
                            <strong>Opt-Out:</strong>
                            You can opt-out of receiving promotional emails by using the unsubscribe link provided in the emails. 
                        </li>
                        <li>
                            <strong>Cookies:</strong> 
                            You can manage your cookie preferences through your browser settings. However, disabling cookies may affect the functionality of our website.
                        </li>
                    </ol>
                    <br>
                    <strong>Security:</strong>
                    <ol>
                        <li>
                            <strong>Data Security:</strong>
                            We employ industry-standard security measures to protect your personal information from unauthorized access, disclosure, alteration, and destruction.
                        </li>
                    </ol>
                    <br>
                    <strong>Changes to This Privacy Policy:</strong>
                    <ol>
                        <li>
                            <strong>Updates:</strong>
                            We may update this Privacy Policy periodically to reflect changes in our practices. We will notify you of any significant changes through our website or other communication channels.
                        </li>
                    </ol>
                    <br>
                    <strong>Contact Us:</strong>
                    <br>
                    If you have any questions or concerns about our Privacy Policy, please contact us at contact@brewstackcoffee.com.
                    <br>
                    By using Brew Stack Coffee, you acknowledge and agree to the terms of this Privacy Policy.
                </p>
            </div>
        </div>

    </section>

</div>