<link rel="stylesheet" href="/assets/css/index.css">
<link rel="stylesheet" href="/assets/css/diversity.css">


<div class="dashboard-page-wrapper">
    <section class="about-us">
        <div  class="card">
            <div  class="card-body container">
                <div  class="row align-items-center">
                    <div  class="col-8">
                        <h5>Terms And Condition</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="main-container">
            <div class="text-container">
                <h1>
                    <span class="welcome">Terms We at Brew Stack Follow</span>
                </h1>

                <p class="mt-2 text-home">
                    Welcome to Brew Stack Coffee! Before you proceed to enjoy our delightful coffee and explore our 
                    services, please take a moment to read and understand our terms and conditions:
                    <br>
                    <br>
                    <ol>
                        <li>
                            <strong>Acceptance of Terms:</strong>
                            By accessing or using Brew Stack Coffee's website, products, or services, you agree to comply with and be bound by these terms and conditions. If you do not agree with any part of these terms, please refrain from using our services.
                        </li>
                        <br>
                        <li>
                            <strong>Use of Services:</strong> 
                            You must be at least 18 years old to use our services. You agree to use Brew Stack Coffee for lawful and legitimate purposes and not for any unlawful or prohibited activities.
                        </li>
                        <br>
                        <li>
                            <strong>Product Information:</strong> 
                            While we strive to provide accurate product information, including pricing and descriptions, there may be instances of inaccuracies. We reserve the right to correct any errors, inaccuracies, or omissions and to change or update information at any time without prior notice.
                        </li>
                        <br>
                        <li>
                            <strong>Ordering and Payment:</strong> 
                            When placing an order, you agree to provide accurate and complete information. Brew Stack Coffee reserves the right to refuse or cancel an order for any reason, including but not limited to product availability, errors in pricing, or suspicion of fraudulent activity.
                        </li>
                        <br>
                        <li>
                            <strong>Delivery and Returns:</strong> 
                            Our delivery and return policies are outlined separately. Please review these policies to understand the terms and conditions related to the delivery of our products and the process for returns.
                        </li>
                        <br>
                        <li>
                            <strong>Intellectual Property:</strong> 
                            All content on Brew Stack Coffee's website, including logos, images, text, and graphics, is the intellectual property of Brew Stack Coffee and is protected by copyright laws. You agree not to reproduce, distribute, or create derivative works based on such content without our explicit permission.
                        </li>
                        <br>
                        <li>
                            <strong>Privacy:</strong> 
                            Your privacy is important to us. Please refer to our Privacy Policy for information on how Brew Stack Coffee collects, uses, and protects your personal information.
                        </li>
                        <br>
                        <li>
                            <strong>Termination of Services:</strong> 
                            Brew Stack Coffee reserves the right to terminate or suspend your access to our services at any time, with or without cause, and with or without notice.
                        </li>
                        <br>
                        <li>
                            <strong>Disclaimer of Warranties:</strong> 
                            Brew Stack Coffee provides its services on an "as-is" and "as-available" basis. We make no warranties or representations about the suitability, reliability, availability, timeliness, or accuracy of the services.
                        </li>
                        <br>
                        <li>
                            <strong>Limitation of Liability:</strong> 
                            In no event shall Brew Stack Coffee be liable for any indirect, incidental, special, consequential, or punitive damages, or any loss of profits or revenues, whether incurred directly or indirectly.
                        </li>
                        <br>
                        <li>
                            <strong>Changes to Terms and Conditions:</strong> 
                            Brew Stack Coffee reserves the right to update, modify, or revise these terms and conditions at any time. Continued use of our services after such changes constitutes your acceptance of the new terms.
                        </li>
                        <br>
                    </ol>
                    <br>
                    <strong>Contact Us:</strong>
                    <br>
                    If you have any questions or concerns about our Privacy Policy, please contact us at contact@brewstackcoffee.com.
                    <br>
                    By using Brew Stack Coffee, you acknowledge and agree to the terms of this Privacy Policy.
                </p>
            </div>
        </div>

    </section>

</div>