<link rel="stylesheet" type="text/css" href="css/header.css">

<header class="header-container">
    <div class="left-side">
        <a href="#">Harmehar Kaur</a>
    </div>
    <div class="right-side">
        <div class="right-side-item-container">
            <a href="/courses" class="link">Coursework</a>
        </div>
        <div class="right-side-item-container">
            <a href="/journey" class="link">Journey</a>
        </div>
        <div class="right-side-item-container">
            <a href="/blogs" class="link">My Perspective</a>
        </div>
        <div class="right-side-item-container">
            <a href="/poetry" class="link">Poetry</a>
        </div>
        <div class="right-side-item-container">
            <a href="/contact" class="link">Contact</a>
        </div>
        <div class="right-side-item-container">
            <a href="/login" class="link">Log In</a>
        </div>

    </div>
</header>