<link rel="stylesheet" type="text/css" href="../assets/css/header.css">

<header class="header-container">
    <div class="left-side">
        <a href="#">HarmeharKaur</a>
    </div>
    <div class="right-side">
        <div class="right-side-item-container">
            <a href="" class="link">Coursework</a>
        </div>
        <div class="right-side-item-container">
            <a href="" class="link">Learning journey</a>
        </div>
        <div class="right-side-item-container">
            <a href="" class="link">Know My Perspective</a>
        </div>
        <div class="right-side-item-container">
            <a href="" class="link">Poetry</a>
        </div>
        <div class="right-side-item-container">
            <a href="" class="link">About Me</a>
        </div>
        <div class="right-side-item-container">
            <a href="" class="link">Contacts</a>
        </div>

    </div>
</header>