<link rel="stylesheet" type="text/css" href="css/header.css">
<link rel="stylesheet" href="css/login.css">
<header class="header-container">
    <div class="left-side">
        <a href="/">Harmehar Kaur</a>
    </div>
    <div class="right-side">
        <div class="right-side-item-container">
            <a href="/" class="link">About</a>
        </div>
        <div class="right-side-item-container">
            <a href="/education" class="link">Education</a>
        </div>
        <div class="right-side-item-container">
            <a href="#" id="login-link" class="link">Experience</a>
        </div>
        <div class="right-side-item-container">
            <a href="#" id="login-link" class="link">Projects</a>
        </div>
        <div class="right-side-item-container">
            <a href="#" id="login-link" class="link">Skills</a>
        </div>
        <div class="right-side-item-container">
            <a href="https://drive.google.com/file/d/1vePAmtDA6ccqn5sO4cz30KZnFVXI8NvL/view?usp=drive_link">Resume</a>
        </div>
        <div class="right-side-item-container">
            <a href="#" id="login-link" class="link">Contact</a>
        </div>
    </div>
</header>
