<link rel="stylesheet" href="../assets/css/main.css">

<main class="page-container">
    <section class="bgimage about-me">
        <div class="para-about">
            <h2>About me</h2>
            <p>
                Hello! I'm <strong>Harmehar Kaur</strong>, a final year B.Tech student majoring in Computer Science and 
                Engineering at Guru Gobind Singh Indraprasth University. I have a strong foundation in full-stack web development, having 
                mastered HTML, CSS, JavaScript, and Node.js. My expertise extends to SQL and NoSQL databases, allowing me 
                to design robust and scalable data solutions. 
                <br>
                Throughout my academic journey, I've cultivated hands-on experience with version control using Git and 
                GitHub, enabling collaborative development and project management. Additionally, I've delved into cloud 
                computing with AWS, gaining proficiency in key services that facilitate modern web applications.
                <br>
                Excited about the intersection of technology and innovation, I am currently expanding my skill set into the 
                realms of data science and machine learning. My goal is to integrate AI into web development workflows, 
                enhancing user experiences and driving business outcomes.
                <br>
                In parallel, I'm exploring cybersecurity to fortify web applications against evolving threats. Understanding 
                cybersecurity principles is crucial for delivering secure and reliable digital solutions.
            </p>
        </div>
        <!-- <div class="img-container"></div> -->
    </section>
    <section class="sec-abt">
        <div class="section-header">
            <h2>Education</h2>
        </div>
        <div class="card-container">
            <div class="card">
                <div class="inst-logo">
                    <img src="" alt="gtbit-logo">
                </div>
                <div class="inst-name">Guru Tegh Bahadur Institute of technology</div>
                <div class="deg-name">Bacherlor's Of Technology</div>
            </div>
            <div class="card">
                <div class="inst-logo">
                    <img src="" alt="gtbit-logo">
                </div>
                <div class="inst-name">Guru Harkrishan Public School, Vasant Vihar</div>
                <div class="deg-name">10+2 | CBSE</div>
            </div>
            <div class="card">
                <div class="inst-logo">
                    <img src="" alt="gtbit-logo">
                </div>
                <div class="inst-name">Guru Harkrishan Public School, Vasant Vihar</div>
                <div class="deg-name">10+2 | CBSE</div>
            </div>
        </div>
    </section>
    <section class="projects">
        <div></div>
        <div></div>
    </section>
    <section class="skills">
        <div></div>
        <div></div>
    </section>
</main>
