<link rel="stylesheet" href="css/main.css">
    <section class="bgimage about-me">
        <div class="para-about">
            <h2>About me</h2>
            <p>
                Hello! I'm <strong>Harmehar Kaur</strong>, a final year B.Tech student majoring in Computer Science and 
                Engineering at Guru Gobind Singh Indraprasth University. I have a strong foundation in full-stack web development, having 
                mastered HTML, CSS, JavaScript, and Node.js. My expertise extends to SQL and NoSQL databases, allowing me 
                to design robust and scalable data solutions. 
                <br>
                Throughout my academic journey, I've cultivated hands-on experience with version control using Git and 
                GitHub, enabling collaborative development and project management. Additionally, I've delved into cloud 
                computing with AWS, gaining proficiency in key services that facilitate modern web applications.
                <br>
                Excited about the intersection of technology and innovation, I am currently expanding my skill set into the 
                realms of data science and machine learning. My goal is to integrate AI into web development workflows, 
                enhancing user experiences and driving business outcomes.
                <br>
                In parallel, I'm exploring cybersecurity to fortify web applications against evolving threats. Understanding 
                cybersecurity principles is crucial for delivering secure and reliable digital solutions.
            </p>
        </div>
        <div class="img-container">
            <img src="images/profile.jpg" alt="Harmehar">
        </div>
    </section>
    <section class="sec-abt">
        <div class="section-header">
            <h2>Education</h2>
        </div>
        <div class="card-container">
            <div class="card">
                <div class="inst-logo">
                    <img src="images/inst-coll-logo.png" alt="gtbit-logo" class="img-logo">
                </div>
                <div class="inst-name">Guru Tegh Bahadur Institute of technology</div>
                <br>
                <br>
                <div class="deg-name">
                    <p>
                        Bacherlor's Of Technology (2020-2024)
                        <!-- <br> -->
                        <hr>
                        Speciliazation: Computer Science And Engineering
                        Percentage: 92%
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="inst-logo">
                    <img src="images/scl-logo.jpg" alt="ghps-logo" class="img-logo">
                </div>
                <div class="inst-name">Guru Harkrishan Public School, Vasant Vihar</div>
                <br>
                <br>
                <div class="deg-name">
                    <p>
                        10+2 | CBSE | 2020
                        <hr>
                        Percentage: 89.5%
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="inst-logo">
                    <img src="images/scl-logo.jpg" alt="ghps-logo" class="img-logo">
                </div>
                <div class="inst-name">Guru Harkrishan Public School, Vasant Vihar</div>
                <br>
                <br>
                <div class="deg-name">
                    <p>
                        10 | CBSE | 2018
                        <hr>
                        Percentage: 90.5%
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="sec-abt">
        <div class="section-header">
            <h2>Skills</h2>
        </div>
        <div class="skill-div">
            <div class="skill-header"><strong>Programming languages & Fundamentals</strong></div>
            <div class="skills">
                <div><button class="btn"><i class="animation"></i>Java</button></div>
                <div><button class="btn"><i class="animation"></i>C++</button></div>
                <div><button class="btn"><i class="animation"></i>Python</button></div>
                <div><button class="btn"><i class="animation"></i>Data Structures</button></div>
                <div><button class="btn"><i class="animation"></i>Algorithm</button></div>
            </div>
        </div>
        <div class="skill-div">
            <div class="skill-header"><strong>Full Stack Web Development</strong></div>
            <div class="skills">
                <div><button class="btn"><i class="animation"></i>HTML</button></div>
                <div><button class="btn"><i class="animation"></i>CSS</button></div>
                <div><button class="btn"><i class="animation"></i>Javascript</button></div>
                <div><button class="btn"><i class="animation"></i>Node.js</button></div>
                <div><button class="btn"><i class="animation"></i>Express.js</button></div>
                <div><button class="btn"><i class="animation"></i>React.js</button></div>
                <div><button class="btn"><i class="animation"></i>SQL/NoSQL</button></div>
                <div><button class="btn"><i class="animation"></i>React.js</button></div>
            </div>
        </div>
        <div class="skill-div">
            <div class="skill-header"><strong>Data Science And Machine Learning</strong></div>
            <div class="skills">
                <div><button class="btn"><i class="animation"></i>Data Visualization</button></div>
                <div><button class="btn"><i class="animation"></i>NumPy</button></div>
                <div><button class="btn"><i class="animation"></i>Selenium</button></div>
                <div><button class="btn"><i class="animation"></i>Pandas</button></div>
                <div><button class="btn"><i class="animation"></i>Matplotlib</button></div>
                <div><button class="btn"><i class="animation"></i>BeautifulSoup</button></div>
                <div><button class="btn"><i class="animation"></i>Scikit-learn</button></div>
                <div><button class="btn"><i class="animation"></i>Sklearn</button></div>

            </div>
        </div>
        <div class="skill-div">
            <div class="skill-header"><strong>Additional</strong></div>
            <div class="skills">
                <div><button class="btn"><i class="animation"></i>Network Fundamentals</button></div>
                <div><button class="btn"><i class="animation"></i>AWS</button></div>
                <!-- <div><button class="btn"><i class="animation"></i></button></div>
                <div><button class="btn"><i class="animation"></i></button></div>
                <div><button class="btn"><i class="animation"></i></button></div> -->
            </div>
        </div>
    </section>

