<link rel="stylesheet" href="css/main.css">
<div class="about-me">
    <section class="bgimage about-me">
        <div class="para-about">
            <h2 >I'm <span class="typing" style="color:#00796b"></span></h2>
            <p>  
                Hi! I'm <strong>Harmehar Kaur</strong>, a Computer Science graduate passionate about protecting digital ecosystems and solving cybersecurity challenges. My journey includes hands-on experience in vulnerability assessment, penetration testing, and incident response, backed by certifications and real-world exposure.  
            </p>  
            
            <p>  
                Currently interning at <strong>CERT-In</strong>, I've gained practical knowledge in Digital Forensics and Incident Response (DFIR), MITRE ATT&CK, and managing real-life vulnerabilities. Through <strong>Tata STRIVE's CyberShiksha++</strong> program, I honed my skills using tools like Kali Linux, VMware, and labs such as Hack The Box and TryHackMe.  
            </p>  
            
            <p>  
                My foundation in networking, operating systems, and secure systems design enables me to approach challenges with both technical expertise and creative problem-solving. I'm dedicated to continuous learning and staying ahead of evolving cyber threats.  
            </p>  
            
            <p>  
                Looking forward to collaborating on impactful projects that make a difference in the cybersecurity landscape. Let’s connect to discuss innovative ways to secure the future!  
            </p>
            
        </div>
        <div class="img-container">
            <img src="images/profile.jpg" alt="Harmehar">
        </div>
    </section>
</div>

<script src="js\typed.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js"></script>