<link rel="stylesheet" href="css/blogs.css">
<section>
    <div>
        <ul class="blog-ls-container" id="blogList">
            <% for (let i of blog_list){ %>
                <li class="blogs">
                    <p class="blog-title"><%- i.Name %></p>
                    <p class="blog-content"><%= i.content%></p>
                </li>
            <% } %>
        </ul>
    </div>
    <div class="add-form">
        <button class="cssbuttons-io-button center" id="writeBlogButton">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z"></path></svg>
            <span>Add</span>
        </button>
    </div>
    <div class="card-overlay" id="cardOverlay" style="display: none;">
        <div class="card" id="cardForm">
            <span class="close-btn" id="closeFormButton">&times;</span>
            <p class="heading">Add Blog</p>
            <div class="input-div">
                <input type="text" class="input" id="blogTitle" placeholder="Enter Title">
            </div>
            <div class="input-div">
                <textarea class="input" id="blogContent" placeholder="Enter Content"></textarea>
            </div>
            <div class="button-div">
                <button class="submit" id="submitBlogButton">Submit</button>
            </div>
        </div>
    </div>
</section>
<script>
    document.getElementById('writeBlogButton').addEventListener('click', function() {
        document.getElementById('cardOverlay').style.display = 'flex';
    });
    document.getElementById('closeFormButton').addEventListener('click', function() {
        document.getElementById('cardOverlay').style.display = 'none';
    });
    document.getElementById('submitBlogButton').addEventListener('click', function() {
        const title = document.getElementById('blogTitle').value;
        const content = document.getElementById('blogContent').value;
        if (title && content) {
            const blogList = document.getElementById('blogList');
            const newBlog = document.createElement('li');
            newBlog.className = 'blogs';
            newBlog.innerHTML = `
                <p class="blog-title">${title}</p>
                <p class="blog-content">${content}</p>
            `;
            blogList.appendChild(newBlog);
            document.getElementById('blogTitle').value = '';
            document.getElementById('blogContent').value = '';
            document.getElementById('cardOverlay').style.display = 'none';
        }
    });
</script>
