<link rel="stylesheet" href="css/courses.css">
<section class="content">
    <div class="about">
        <div class="fancy">
            <span class="top-key"></span>
            <span class="text">BACHELORS OF TECHNOLOGY</span>
            <span class="bottom-key-1"></span>
            <span class="bottom-key-2"></span>
        </div>
        <div class="card-container">
            <div class="card">
                <h2>Semester 1</h2>
                <div class="subject-container">
                    <button class="sub-btn">
                        <span id="sub-name">Applied Mathematics-1</span>
                        <i class="fa-solid fa-plus sub-icon"></i>
                    </button>
                    <div class="sub-content">
                        <p>This subject .</p>
                    </div>
                </div>
                <div class="subject-container">
                    <button class="sub-btn">
                        <span id="sub-name">Applied Physics-1</span>
                        <i class="fa-solid fa-plus sub-icon"></i>
                    </button>
                    <div class="sub-content">
                        <p>This subject taught about blah blah blah.</p>
                    </div>
                </div>
                <div class="subject-container">
                    <button class="sub-btn">
                        <span id="sub-name">Manufacturing Processes</span>
                        <i class="fa-solid fa-plus sub-icon"></i>
                    </button>
                    <div class="sub-content">
                        <p>This subject taught about blah blah blah.</p>
                    </div>
                </div>
                <div class="subject-container">
                    <button class="sub-btn">
                        <span id="sub-name">Electrical Technology</span>
                        <i class="fa-solid fa-plus sub-icon"></i>
                    </button>
                    <div class="sub-content">
                        <p>This subject taught about blah blah blah.</p>
                    </div>
                </div>
                <div class="subject-container">
                    <button class="sub-btn">
                        <span id="sub-name">Applied Chemistry</span>
                        <i class="fa-solid fa-plus sub-icon"></i>
                    </button>
                    <div class="sub-content">
                        <p>This subject taught about blah blah blah.</p>
                    </div>
                </div>
                <div class="subject-container">
                    <button class="sub-btn">
                        <span id="sub-name">HVPE-1</span>
                        <i class="fa-solid fa-plus sub-icon"></i>
                    </button>
                    <div class="sub-content">
                        <p>This subject taught about blah blah blah.</p>
                    </div>
                </div>
                <div class="subject-container">
                    <button class="sub-btn">
                        <span id="sub-name">Fundamentals Of Computing</span>
                        <i class="fa-solid fa-plus sub-icon"></i>
                    </button>
                    <div class="sub-content">
                        <p>This subject taught about blah blah blah.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <h2>Semester 2</h2>
                <div class="subject-container">
                    <button class="sub-btn">
                        <span id="sub-name">Applied Physics-2</span>
                        <i class="fa-solid fa-plus sub-icon"></i>
                    </button>
                    <div class="sub-content">
                        <p>This subject taught about blah blah blah.</p>
                    </div>
                </div>
                <div class="subject-container">
                    <button class="sub-btn">
                        <span id="sub-name">Applied Mathematics-II</span>
                        <i class="fa-solid fa-plus sub-icon"></i>
                    </button>
                    <div class="sub-content">
                        <p>This subject taught about blah blah</p>
                    </div>
                </div>
                <div class="subject-container">
                    <button class="sub-btn">
                        <span id="sub-name">Electronic Devices</span>
                        <i class="fa-solid fa-plus sub-icon"></i>
                    </button>
                    <div class="sub-content">
                        <p>This subject taught about blah blah</p>
                    </div>
                </div>
                <div class="subject-container">
                    <button class="sub-btn">
                        <span id="sub-name">Introduction to programming</span>
                        <i class="fa-solid fa-plus sub-icon"></i>
                    </button>
                    <div class="sub-content">
                        <p>This subject taught about blah blah</p>
                    </div>
                </div>
                <div class="subject-container">
                    <button class="sub-btn">
                        <span id="sub-name">Engineering Mechanics</span>
                        <i class="fa-solid fa-plus sub-icon"></i>
                    </button>
                    <div class="sub-content">
                        <p>This subject taught about blah blah</p>
                    </div>
                </div>
                <div class="subject-container">
                    <button class="sub-btn">
                        <span id="sub-name">Communication Skills</span>
                        <i class="fa-solid fa-plus sub-icon"></i>
                    </button>
                    <div class="sub-content">
                        <p>This subject taught about blah blah</p>
                    </div>
                </div>
                <div class="subject-container">
                    <button class="sub-btn">
                        <span id="sub-name">Environmental Studies</span>
                        <i class="fa-solid fa-plus sub-icon"></i>
                    </button>
                    <div class="sub-content">
                        <p>This subject taught about blah blah</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <h2>Semester 3</h2>
                <div class="subject-container">
                    <button class="sub-btn">
                        <span id="sub-name">Foundation of Computer Science</span>
                        <i class="fa-solid fa-plus sub-icon"></i>
                    </button>
                    <div class="sub-content">
                        <p>This subject taught about blah blah blah.</p>
                    </div>
                </div>
                <div class="subject-container">
                    <button class="sub-btn">
                        <span id="sub-name">Applied Mathematics – III</span>
                        <i class="fa-solid fa-plus sub-icon"></i>
                    </button>
                    <div class="sub-content">
                        <p>This subject taught about blah blah blah.</p>
                    </div>
                </div>
                <div class="subject-container">
                    <button class="sub-btn">
                        <span id="sub-name">Switching Theory and Logic Design</span>
                        <i class="fa-solid fa-plus sub-icon"></i>
                    </button>
                    <div class="sub-content">
                        <p>This subject taught about blah blah blah.</p>
                    </div>
                </div>
                <div class="subject-container">
                    <button class="sub-btn">
                        <span id="sub-name">Circuits and Systems</span>
                        <i class="fa-solid fa-plus sub-icon"></i>
                    </button>
                    <div class="sub-content">
                        <p>This subject taught about blah blah blah.</p>
                    </div>
                </div>
                <div class="subject-container">
                    <button class="sub-btn">
                        <span id="sub-name">Data Structure</span>
                        <i class="fa-solid fa-plus sub-icon"></i>
                    </button>
                    <div class="sub-content">
                        <p>This subject taught about blah blah blah.</p>
                    </div>
                </div>
                <div class="subject-container">
                    <button class="sub-btn">
                        <span id="sub-name">Computer Graphics and Multimedia</span>
                        <i class="fa-solid fa-plus sub-icon"></i>
                    </button>
                    <div class="sub-content">
                        <p>This subject taught about blah blah blah.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <h2>Semester 4</h2>
                <div class="subject-container">
                    <button class="sub-btn">
                        <span id="sub-name">Applied Mathematics-IV</span>
                        <i class="fa-solid fa-plus sub-icon"></i>
                    </button>
                    <div class="sub-content">
                        <p>This subject taught about blah blah blah.</p>
                    </div>
                </div>
                <div class="subject-container">
                    <button class="sub-btn">
                        <span id="sub-name">Computer Organization and Architecture</span>
                        <i class="fa-solid fa-plus sub-icon"></i>
                    </button>
                    <div class="sub-content">
                        <p>This subject taught about blah blah blah.</p>
                    </div>
                </div>
                <div class="subject-container">
                    <button class="sub-btn">
                        <span id="sub-name">Theory of Computation</span>
                        <i class="fa-solid fa-plus sub-icon"></i>
                    </button>
                    <div class="sub-content">
                        <p>This subject taught about blah blah blah.</p>
                    </div>
                </div>
                <div class="subject-container">
                    <button class="sub-btn">
                        <span id="sub-name">Database Management Systems</span>
                        <i class="fa-solid fa-plus sub-icon"></i>
                    </button>
                    <div class="sub-content">
                        <p>This subject taught about blah blah blah.</p>
                    </div>
                </div>
                <div class="subject-container">
                    <button class="sub-btn">
                        <span id="sub-name">Object Oriented Programming</span>
                        <i class="fa-solid fa-plus sub-icon"></i>
                    </button>
                    <div class="sub-content">
                        <p>This subject taught about blah blah blah.</p>
                    </div>
                </div>
                <div class="subject-container">
                    <button class="sub-btn">
                        <span id="sub-name">Communication Systems</span>
                        <i class="fa-solid fa-plus sub-icon"></i>
                    </button>
                    <div class="sub-content">
                        <p>This subject taught about blah blah blah.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <h2>Semester 5</h2>
                <div class="subject-container">
                    <button class="sub-btn">
                        <span id="sub-name">Algorithms Design and Analysis</span>
                        <i class="fa-solid fa-plus sub-icon"></i>
                    </button>
                    <div class="sub-content">
                        <p>This subject taught about blah blah blah.</p>
                    </div>
                </div>
                <div class="subject-container">
                    <button class="sub-btn">
                        <span id="sub-name">Software Engineering</span>
                        <i class="fa-solid fa-plus sub-icon"></i>
                    </button>
                    <div class="sub-content">
                        <p>This subject taught about blah blah blah.</p>
                    </div>
                </div>
                <div class="subject-container">
                    <button class="sub-btn">
                        <span id="sub-name">Java Programming</span>
                        <i class="fa-solid fa-plus sub-icon"></i>
                    </button>
                    <div class="sub-content">
                        <p>This subject taught about blah blah blah.</p>
                    </div>
                </div>
                <div class="subject-container">
                    <button class="sub-btn">
                        <span id="sub-name">Industrial Management</span>
                        <i class="fa-solid fa-plus sub-icon"></i>
                    </button>
                    <div class="sub-content">
                        <p>This subject taught about blah blah blah.</p>
                    </div>
                </div>
                <div class="subject-container">
                    <button class="sub-btn">
                        <span id="sub-name">Digital Communication</span>
                        <i class="fa-solid fa-plus sub-icon"></i>
                    </button>
                    <div class="sub-content">
                        <p>This subject taught about blah blah blah.</p>
                    </div>
                </div>
                <div class="subject-container">
                    <button class="sub-btn">
                        <span id="sub-name">Communication  Skills for Professionals</span>
                        <i class="fa-solid fa-plus sub-icon"></i>
                    </button>
                    <div class="sub-content">
                        <p>This subject taught about blah blah blah.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <h2>Semester 6</h2>
                <div class="subject-container">
                    <button class="sub-btn">
                        <span id="sub-name">Compiler Design</span>
                        <i class="fa-solid fa-plus sub-icon"></i>
                    </button>
                    <div class="sub-content">
                        <p>This subject taught about blah blah blah.</p>
                    </div>
                </div>
                <div class="subject-container">
                    <button class="sub-btn">
                        <span id="sub-name">Operating Systems</span>
                        <i class="fa-solid fa-plus sub-icon"></i>
                    </button>
                    <div class="sub-content">
                        <p>This subject taught about blah blah blah.</p>
                    </div>
                </div>
                <div class="subject-container">
                    <button class="sub-btn">
                        <span id="sub-name">Computer networks</span>
                        <i class="fa-solid fa-plus sub-icon"></i>
                    </button>
                    <div class="sub-content">
                        <p>This subject taught about blah blah blah.</p>
                    </div>
                </div>
                <div class="subject-container">
                    <button class="sub-btn">
                        <span id="sub-name">Web Technology</span>
                        <i class="fa-solid fa-plus sub-icon"></i>
                    </button>
                    <div class="sub-content">
                        <p>This subject taught about blah blah blah.</p>
                    </div>
                </div>
                <div class="subject-container">
                    <button class="sub-btn">
                        <span id="sub-name">Artificial Intelligence</span>
                        <i class="fa-solid fa-plus sub-icon"></i>
                    </button>
                    <div class="sub-content">
                        <p>This subject taught about blah blah blah.</p>
                    </div>
                </div>
                <div class="subject-container">
                    <button class="sub-btn">
                        <span id="sub-name">Microprocessor and microcontroller</span>
                        <i class="fa-solid fa-plus sub-icon"></i>
                    </button>
                    <div class="sub-content">
                        <p>This subject taught about blah blah blah.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <h2>Semester 7</h2>
                <div class="subject-container">
                    <button class="sub-btn">
                        <span id="sub-name">Information security</span>
                        <i class="fa-solid fa-plus sub-icon"></i>
                    </button>
                    <div class="sub-content">
                        <p>This subject taught about blah blah blah.</p>
                    </div>
                </div>
                <div class="subject-container">
                    <button class="sub-btn">
                        <span id="sub-name">Software testing and quality assurance</span>
                        <i class="fa-solid fa-plus sub-icon"></i>
                    </button>
                    <div class="sub-content">
                        <p>This subject taught about blah blah blah.</p>
                    </div>
                </div>
                <div class="subject-container">
                    <button class="sub-btn">
                        <span id="sub-name">Wireless Communication</span>
                        <i class="fa-solid fa-plus sub-icon"></i>
                    </button>
                    <div class="sub-content">
                        <p>This subject taught about blah blah blah.</p>
                    </div>
                </div>
                <div class="subject-container">
                    <button class="sub-btn">
                        <span id="sub-name">Data Mining and Business Intelligence</span>
                        <i class="fa-solid fa-plus sub-icon"></i>
                    </button>
                    <div class="sub-content">
                        <p>This subject taught about blah blah blah.</p>
                    </div>
                </div>
                <div class="subject-container">
                    <button class="sub-btn">
                        <span id="sub-name">Advanced Computer Networks</span>
                        <i class="fa-solid fa-plus sub-icon"></i>
                    </button>
                    <div class="sub-content">
                        <p>This subject taught about blah blah blah.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <h2>Semester 8</h2>
                <div class="subject-container">
                    <button class="sub-btn">
                        <span id="sub-name">HVPE-II</span>
                        <i class="fa-solid fa-plus sub-icon"></i>
                    </button>
                    <div class="sub-content">
                        <p>This subject taught about blah blah blah.</p>
                    </div>
                </div>
                <div class="subject-container">
                    <button class="sub-btn">
                        <span id="sub-name">Machine learning</span>
                        <i class="fa-solid fa-plus sub-icon"></i>
                    </button>
                    <div class="sub-content">
                        <p>This subject taught about blah blah blah.</p>
                    </div>
                </div>
                <div class="subject-container">
                    <button class="sub-btn">
                        <span id="sub-name">Mobile Computing</span>
                        <i class="fa-solid fa-plus sub-icon"></i>
                    </button>
                    <div class="sub-content">
                        <p>This subject taught about blah blah blah.</p>
                    </div>
                </div>
                <div class="subject-container">
                    <button class="sub-btn">
                        <span id="sub-name">Object Oriented Software Engineering</span>
                        <i class="fa-solid fa-plus sub-icon"></i>
                    </button>
                    <div class="sub-content">
                        <p>This subject taught about blah blah blah.</p>
                    </div>
                </div>
                <div class="subject-container">
                    <button class="sub-btn">
                        <span id="sub-name">Web Intelligence And Big Data</span>
                        <i class="fa-solid fa-plus sub-icon"></i>
                    </button>
                    <div class="sub-content">
                        <p>This subject taught about blah blah blah.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<script src="js/subjects.js"></script>