<link rel="stylesheet" href="css/courses.css">
<section class="content">
    <div class="about">
        <div class="fancy">
            <span class="top-key"></span>
            <span class="text">BACHELORS OF TECHNOLOGY</span>
            <span class="bottom-key-1"></span>
            <span class="bottom-key-2"></span>
        </div>
       <div class="card-container">
            <div class="card">
                <h2>Semester</h2>
                <div class="subject-container">
                    <button class="sub-btn">
                        <span id="sub-name">Applied Mathematics-1</span>
                        <i class="fa-solid fa-plus sub-icon"></i>
                    </button>
                    <div class="sub-content">
                        <p>This subject taught about blah blah blah.</p>
                    </div>
                </div>
                <div class="subject-container">
                    <button class="sub-btn">
                        <span id="sub-name">Applied Physics-1</span>
                        <i class="fa-solid fa-plus sub-icon"></i>
                    </button>
                    <div class="sub-content">
                        <p>This subject taught about blah blah blah.</p>
                    </div>
                </div>
                <div class="subject-container">
                    <button class="sub-btn">
                        <span id="sub-name">Manufacturing Processes</span>
                        <i class="fa-solid fa-plus sub-icon"></i>
                    </button>
                    <div class="sub-content">
                        <p>This subject taught about blah blah blah.</p>
                    </div>
                </div>
                <div class="subject-container">
                    <button class="sub-btn">
                        <span id="sub-name">Electrical Technology</span>
                        <i class="fa-solid fa-plus sub-icon"></i>
                    </button>
                    <div class="sub-content">
                        <p>This subject taught about blah blah blah.</p>
                    </div>
                </div>
                <div class="subject-container">
                    <button class="sub-btn">
                        <span id="sub-name">Applied Chemistry</span>
                        <i class="fa-solid fa-plus sub-icon"></i>
                    </button>
                    <div class="sub-content">
                        <p>This subject taught about blah blah blah.</p>
                    </div>
                </div>
                <div class="subject-container">
                    <button class="sub-btn">
                        <span id="sub-name">HVPE-1</span>
                        <i class="fa-solid fa-plus sub-icon"></i>
                    </button>
                    <div class="sub-content">
                        <p>This subject taught about blah blah blah.</p>
                    </div>
                </div>
                <div class="subject-container">
                    <button class="sub-btn">
                        <span id="sub-name">Fundamentals Of Computing</span>
                        <i class="fa-solid fa-plus sub-icon"></i>
                    </button>
                    <div class="sub-content">
                        <p>This subject taught about blah blah blah.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <h2>Semester</h2>
                <div class="subject-container">
                    <button class="sub-btn">
                        <span id="sub-name">Applied Physics-1</span>
                        <i class="fa-solid fa-plus sub-icon"></i>
                    </button>
                    <div class="sub-content">
                        <p>This subject taught about blah blah blah.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <h2>Semester</h2>
                <div class="subject-container">
                    <button class="sub-btn">
                        <span id="sub-name">Applied Physics-1</span>
                        <i class="fa-solid fa-plus sub-icon"></i>
                    </button>
                    <div class="sub-content">
                        <p>This subject taught about blah blah blah.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <h2>Semester</h2>
                <div class="subject-container">
                    <button class="sub-btn">
                        <span id="sub-name">Applied Physics-1</span>
                        <i class="fa-solid fa-plus sub-icon"></i>
                    </button>
                    <div class="sub-content">
                        <p>This subject taught about blah blah blah.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <h2>Semester</h2>
                <div class="subject-container">
                    <button class="sub-btn">
                        <span id="sub-name">Applied Physics-1</span>
                        <i class="fa-solid fa-plus sub-icon"></i>
                    </button>
                    <div class="sub-content">
                        <p>This subject taught about blah blah blah.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <h2>Semester</h2>
                <div class="subject-container">
                    <button class="sub-btn">
                        <span id="sub-name">Applied Physics-1</span>
                        <i class="fa-solid fa-plus sub-icon"></i>
                    </button>
                    <div class="sub-content">
                        <p>This subject taught about blah blah blah.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <h2>Semester</h2>
                <div class="subject-container">
                    <button class="sub-btn">
                        <span id="sub-name">Applied Physics-1</span>
                        <i class="fa-solid fa-plus sub-icon"></i>
                    </button>
                    <div class="sub-content">
                        <p>This subject taught about blah blah blah.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <h2>Semester</h2>
                <div class="subject-container">
                    <button class="sub-btn">
                        <span id="sub-name">Applied Physics-1</span>
                        <i class="fa-solid fa-plus sub-icon"></i>
                    </button>
                    <div class="sub-content">
                        <p>This subject taught about blah blah blah.</p>
                    </div>
                </div>
            </div>
       </div>
    </div>

</section>
<script src="js/subjects.js"></script>