<link rel="stylesheet" href="css/education.css">
<link rel="stylesheet" href="css/index.css">
<section id="education" class="services">
    <div class="container">
        <div class="button">
            <span class="button_lg">
                <span class="button_sl"></span>
                <span class="button_text">Education</span>
            </span>
        </div>
        
        <div class="row">
            <div class="col-lg-12" data-aos="fade-up" style="display: flex; justify-content: center; gap: 20px; flex-wrap: wrap;">
                
                <div class="education-card" data-aos="fade-up" data-aos-delay="100">
                    <img src="images/gtbit.jpeg" class="edu-img" alt="GTBIT">
                    <div class="edu-content">
                        <p><em>B.Tech. in Computer Science And Engineering</em></p>
                        <h5>December 2020 - July 2024</h5>
                        <h6>Relevant Coursework</h6>
                        <ul>
                            <li>Database Management Systems</li>
                            <li>Algorithms & Data Structures</li>
                            <li>Computer Network</li>
                            <li>Operating System</li>
                        </ul>
                    </div>
                </div>
                <div class="education-card" data-aos="fade-up" data-aos-delay="100">
                    <img src="images/scl-logo.jpg" class="edu-img" alt="GHPS">
                    <div class="edu-content">
                        <p><em>Guru Harkrishan Public School, Vasant Vihar</em></p>
                        <h5>April 2017-July 2020</h5>
                        <h6>Central Board Of Secondary Education</h6>
                        <ul>
                            <li>Matric : 90%</li>
                            <li>PCMB : 89%</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="button">
            <span class="button_lg">
                <span class="button_sl"></span>
                <span class="button_text">Certifications And Trainings</span>
            </span>
        </div>
        
        <div class="row">
            <div class="col-lg-12" data-aos="fade-up" style="display: flex; justify-content: center; gap: 20px; flex-wrap: wrap;">
                
                <div class="education-card" data-aos="fade-up" data-aos-delay="100">
                    <img src="images/coursera.png" class="edu-img" alt="Coursera">
                    <div class="edu-content">
                        <p><em></em></p>
                        <h5>May - July 2024</h5>
                        <h6>Google Cybersecurity Professional Certificate</h6>
                        <h6>Relevant Learnings</h6>
                        <ul>
                            <li>Fundamentals Of Cyber Security</li>
                            <li>Incident Response</li>
                            <li>Networking Concepts</li>
                            <li>SIEM</li>
                        </ul>
                    </div>
                </div>
                <div class="education-card" data-aos="fade-up" data-aos-delay="100">
                    <img src="images/tatastrive.jpeg" class="edu-img" alt="TataStrive">
                    <div class="edu-content">
                        <p><em>CyberShiksha++</em></p>
                        <h5>March - June 2024</h5>
                        <h6>Relevant Learnings</h6>
                        <ul>
                            <li>Fundamentals Of Cyber Security</li>
                            <li>Virtualization</li>
                            <li>Kali Linux</li>
                            <li>Tools: BurpSuite,Metasploit. etc.</li>
                        </ul>
                    </div>
                </div>
                <div class="education-card" data-aos="fade-up" data-aos-delay="100">
                    <img src="images/coding-nin.jpg" class="edu-img" alt="CodingNinjas">
                    <div class="edu-content">
                        <p><em>Data Science And Machine Learning</em></p>
                        <h5>March 2023 - May 2024</h5>
                        <h6>Relevant Learnings</h6>
                        <ul>
                            <li>Web Scraping</li>
                            <li>Visualization</li>
                            <li>Python</li>
                            <li>SQL</li>
                        </ul>
                    </div>
                </div>
                <div class="education-card" data-aos="fade-up" data-aos-delay="100">
                    <img src="images/honeywell.jpg" class="edu-img" alt="CodingNinjas">
                    <div class="edu-content">
                        <p><em>Cloud Computing</em></p>
                        <h5>October 2023</h5>
                        <h6>Honeywell CSR Initiative</h6>
                        <ul>
                            <li>Web Scraping</li>
                            <li>Visualization</li>
                            <li>Python</li>
                            <li>SQL</li>
                        </ul>
                    </div>
                </div>
                <div class="education-card" data-aos="fade-up" data-aos-delay="100">
                    <img src="images/coding-nin.jpg" class="edu-img" alt="CodingNinjas">
                    <div class="edu-content">
                        <p><em>Full Stack Web Development</em></p>
                        <h5>May 2022 - April 2023</h5>
                        <h6>Relevant Learnings</h6>
                        <ul>
                            <li>Node.js</li>
                            <li>MongoDB</li>
                            <li>Express.js</li>
                            <li>Frontend: Javascript, HTML, CSS</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
