<link rel="stylesheet" href="css/experience.css">
<link rel="stylesheet" href="css/education.css">

<section id="experience" class="services">
    <div class="container">
        <div class="button">
            <span class="button_lg">
                <span class="button_sl"></span>
                <span class="button_text">Experience</span>
            </span>
        </div>
        <div class="row">
            <div class="col-lg-12" data-aos="fade-up">
                <div class="col-md-12 mt-4 mt-md-0 icon-box" data-aos="fade-up" data-aos-delay="100">
                    <h4><a href="https://www.cert-in.org.in/" class="company-link">Indian Computer Emergency Response Team (CERT-In)</a></h4>
                    <h5>October 2024 - Present</h5>
                    <p><em>Cybersecurity Intern</em></p>
                    <ul>
                        <li>Learned about Digital Forensics and Incident Response (DFIR), handling cybersecurity incidents, and investigating compromised systems.</li>
                        <li>Gained expertise in collecting and analyzing forensic data from compromised systems.</li>
                        <li>Automated forensic collection tools for remote collection of evidence to support forensic investigations.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
