.footer-md-screen {
    padding: 8em 2em 2em;
    background-color: rgb(62, 61, 61);
    color: #bbb;
    line-height: 1.5;
}

.footer-md-screen ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 1rem;
}

.footer-md-screen .footer-heading {
    font-size: 1.125em;
    color: #fff;
    font-family: SoDoSans_Semibold,Helvetica,sans-serif;
    cursor: pointer;
}

.footer-md-screen .list-unstyled{
    padding-left: 0;
    list-style: none;
}

.footer-md-screen .ft-legal .ft-legal-listlia{
    text-decoration: none;
    color: #fff;
    transition: .3s;
}

.footer-md-screen .ft-legal .ft-legal-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #a0a0a0;
    padding-top: 20px;
}

.footer-md-screen .ft-legal .ft-legal-list li {
    color: #fff;
    margin: 0.125rem 0.625rem;
    white-space: nowrap;
    font-size: .75em;
    padding-right: 17px;
    border-right: 1px solid #b3b3b3;
}

.footer-md-screen .ft-legal .ft-legal-list li:first-child {
    margin-left: 0;
}

.footer-md-screen .ft-legal .ft-legal-list li a {
    text-decoration: none;
    color: #fff;
    transition: .3s;
}