:root{
    --text: white;
    --backgrd-brown:rgba(139, 97, 44,0.9);  
}
body{
    /* background-color: var(--backgrd-brown); */
    color:var(--text) ;
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

a{
    text-decoration: none;
    color: var(--text);
}

.container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Add your background pattern here */
    --color: rgb(255, 50, 50, 0.8);
    background-color: rgb(0, 0, 0);
    background-size: 40px 40px;
    background-image: linear-gradient(45deg, var(--color), transparent 40%),
      linear-gradient(-90deg, var(--color), transparent 20%);
}

.plain-bg{
    background-color: var(--backgrd-brown);
    padding: 40px; /* Adding some padding for better readability */
    /* max-width: 90vw;  */
    min-width: 90vw;
    min-height: 80vh;
}



.header-section{
    /* background-color: blue; */
    min-height: 3em;
    /* make it stick to top*/
}

.nav-bar{
    
    display: flex;
    flex-direction: row;
    /* text-align: center; */
    justify-content:space-between;
    align-items: center;
    
}

.top-logo{
    height: 2.5em;
    margin: 0.25em;
}

.hdr-txt{
    text-align: center;
}

.left-hdr{
    width: 20%;
}

.mid-hdr{
    width:40%; 
    /* background-color: red; */
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.right-hdr{
    width:20%; 
    justify-content: space-around;
    /* margin-left: 2em; */
}

.button-cont{
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    margin-left: 8em;
    color: #090909;
    padding: 0.3em 1.3em;
    cursor: pointer;
    font-size: 14px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.button-cont:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.button-cont:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.button-cont:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #009087;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.button-cont:hover {
    color: #ffffff;
    border: 1px solid #009087;
}

.button-cont:hover:before {
    top: -35%;
    background-color: #009087;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button-cont:hover:after {
    top: -45%;
    background-color: #009087;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
 
.main-page-contr{
    display: flex;
    flex-direction: column;
}

.introduction{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content-container{
    width: 55%;
    line-height: 2em;
    text-align: center;
}


