:root{
    --text: white;
    --backgrd:rgb(165, 163, 163);  
}
body{
    /* background-color: var(--backgrd-brown); */
    color:var(--text) ;
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    background-color: #090909;
}

a{
    text-decoration: none;
    color: var(--text);
}

/* .container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Add your background pattern here */
    /* --color: rgb(255, 50, 50, 0.8);
    background-color: rgb(0, 0, 0);
    background-size: 40px 40px;
    background-image: linear-gradient(45deg, var(--color), transparent 40%),
      linear-gradient(-90deg, var(--color), transparent 20%); 
} */

.plain-bg{
    background-color: var(--backgrd);
    padding: 40px; /* Adding some padding for better readability */
    /* max-width: 90vw;  */
    min-width: 90vw;
    min-height: 80vh;
}



.header-section{
    /* background-color: blue; */
    min-height: 3em;
    /* make it stick to top*/
}

.nav-bar{
    
    display: flex;
    flex-direction: row;
    /* text-align: center; */
    justify-content:space-between;
    align-items: center;
    
}

.top-logo{
    height: 2.5em;
    margin: 0.25em;
}

.hdr-txt{
    text-align: center;
}

.left-hdr{
    width: 20%;
}

.mid-hdr{
    width:40%; 
    /* background-color: red; */
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.right-hdr{
    width:20%; 
    justify-content: space-around;
    /* margin-left: 2em; */
}

.main-page-contr{
    display: flex;
    flex-direction: column;
}

.introduction{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content-container{
    width: 55%;
    line-height: 2em;
    text-align: center;
}


