/* General Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.content {
    padding: 20px;
}

/* About Me Section */
.about-me {
    max-width: 90%;
    margin: 2rem auto;
    padding: 20px;
    background-color: #0e0d0d;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    gap: 20px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.5s ease-in-out forwards;
}

.about-me img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.para-about {
    flex: 1;
    color: white;
}

.about-me strong {
    font-weight: bold;
    color: #00796b;
}

/* Fade In Animation */
@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Responsive Styles */
@media (max-width: 768px) {
    .about-me {
        flex-direction: column;
        text-align: center;
        padding: 15px;
    }

    .about-me img {
        width: 200px;
        height: 200px;
    }
}

@media (max-width: 480px) {
    .about-me {
        padding: 10px;
    }

    .para-about {
        font-size: 14px;
    }
}
