/* Add your existing styles here */

.main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
  }
  
  .text-container {
    /* Add your text container styles here */
    flex: 1;
    width: 60%; /* Adjust the width as needed */
  }
  
  .image-container {
    /* Add your image container styles here */
    width: 40%; /* Adjust the width as needed */
  }
  
  .image-container img {
    /* Add your image styles here */
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .founder,
  .vision {
    /* Add your founder and vision styles here */
    margin: 2rem;
    background-color: #fff; /* Change background color as needed */
    border: 2px solid #333;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Remove the background-color from .our-vision as it's already included in .vision */
  .our-vision {
    margin: 2rem;
    padding: 2rem;
  }
  
  /* Add your offer styles here */
  .offer {
    margin-bottom: 1rem;
    background-color: #fff; /* Change background color as needed */
    border: 2px solid #333;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Add your additional styles here */
  