#cartSection {
    margin: 2rem;
    text-align: center;
}

#cartSection h3 {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

#cartSection ul {
    list-style-type: none;
    padding: 0;
}

#cartSection li {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    margin-bottom: 0.5rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#cartSection li span {
    font-weight: bold;
}

#cartSection li button {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

#cartSection li button:hover {
    background-color: #c0392b;
}
