:root{
  --swiper-navigation-size: 44px;
  --swiper-theme-color: #198754;
  --animate-duration: 1s;
  --animate-delay: 1s;
  --animate-repeat: 1;
  --bs-border-color-translucent: rgba(0, 0, 0, .175);

}

html::-webkit-scrollbar{
    width: 0.5vw;
    height: 0.5vw;
}

html::-webkit-scrollbar-thumb{
    background: linear-gradient(#d7d7d7, #696969);
    border: 0.3em solid #3a3a3a #000000;
    border-radius: 100vw;  
}

html::-webkit-scrollbar-thumb:hover{
    background-color: #d0d0d0;
}

html::-webkit-scrollbar-track{
    background-color: #ffffff;
    border-radius: 100vw;
    margin-block: 0.5em;
}
  
body{
    margin:0;
}

header {
  box-shadow: #1c1c1c1c 1px 1px 2px;
  padding:1rem; 
}

header .logo {
  width: 40px;
  height: 40px;
}

header .active {
  color: #4d0b01;
}

a{
    text-decoration: none;
    color: black;
}

/* header  */
.fix-header {
  position: fixed;
  left: 0;
  right: 0;
  max-width: 100vw;
  z-index: 999;
  transition: transform .3s ease-in-out;
  top: 0;
  background: white;
}

.search-form {
  position: relative;
  margin-right: 4em;
  width: 264px;
}

.search-form .fa-search {
  position: absolute;
  top: 11px;
  left: 20px;
  color: #9ca3af;
  cursor: pointer;
}

.search-form .form-input{
  text-indent: 6px;
  padding-left: 3em;
}

footer {
  width: 100vw;
  position: relative;
  bottom: 0;
  color: var(--steel-gray);
  line-height: 10px;
  font-size: 1.0em;
  font-family: var(--font-roboto);
}

footer p{
  justify-content: space-between;
}


.footer-row {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 6em;
}


.footer-col-first {
  flex-basis: 30%;
}


footer hr {
  width: 90%;
  border: 0;
  border-bottom: 0.5px solid var(--steel-gray);
  padding-top: 5em;
  margin-top: 0;
  margin-bottom: 0;
}

.img-buy-coffee{
  width: 35px;
  height: 35px;
}

.footer-col-first h2, .footer-col h2{
  font-size: 1.8em;
  margin-bottom: 1em;
  font-weight: 300;
}


.footer-col h2{
  width: fit-content;
  margin-bottom: 1em;
  position: relative;
}


.email-id{
  width: fit-content;
  color: var(--slate-gray);
  text-decoration: none;
  font-size: 1em;
}


.footer-col ul{
  padding-left: 0;
}


.footer-col ul li{
  margin-bottom: 1rem;
}


.footer-col ul li a{
  color: var(--steel-gray);
}


.footer-col-fourth .btn-container{
  margin: 0 20px;
}


.footer-col-fourth a{
  padding: 12px 20px;
}


.footer-row2{
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 15px;
}


.footer-icon-contact{
  line-height: 40px;
  margin-bottom: 0;
}


.social-icons{
  padding-top: 0.8em;
}


.social-icons .fa{
  width: 30px;
  height: 30px;
  font-size: 1.8em;
  color : var(--steel-gray);
  margin-right: 15px;
  cursor: pointer;
}

.ls{
  padding-bottom: 1rem;
}

@media (max-width: 700px){
  footer{
      text-align: center !important;
      bottom: unset;
  }
  .footer-row, .footer-row2{
    flex-direction: column;
    align-items: center;
  } 
  .footer-col-first h2, .footer-col h2{
    all: revert;
    font-size: xx-large;
  }
  .footer-col-third{
    margin-top: 2em;
  }
  .footer-col-first p{
    display: inline;
  }
  .footer-col-first div {
    justify-content: center;
  }
  .footer-col-second{
    margin-top: 2em;
  }
  .footer-col-fourth{
    margin-top: 2em;
  }
  .footer-icon-contact{
    line-height: 1em;
  }
  .email-id{
    margin: 1em 0;
    margin-bottom: 2em !important;
  }

}