/* Keep the existing styles */
.company-name {
    background-color: #5b4e2a;
    margin-top: 4.6em;
    padding: 1em;
    border: none;
    text-align: center;
    color: white;
    border-radius: 10px;
}

.form-login {
    text-align: center;
    margin: 5rem auto; /* Center the form horizontally */
    padding: 3em;
    border: #5b4e2a solid;
    border-radius: 10px; /* Rounded corners */
    background-color: #d2b48c; /* Beigeish shade */
    max-width: 400px; /* Limit the form width */
}

/* Add some additional styles for a cleaner appearance */
.form-group {
    margin-bottom: 20px; /* Add spacing between form groups */
}

label {
    display: block;
    margin-bottom: 8px; /* Add spacing between labels and inputs */
}

.input {
    background-color: #d2b48c; 
    border:none ;
    border-bottom: #453b1c solid;
}

.btn-primary {
    background-color: #5b4e2a; /* Use the same color as the form border for the button */
    border: none;
}

.btn-primary:hover {
    background-color: #453b1c; /* Darken the button color on hover */
}

.sign-up,.sign-out{
    text-align: center;
    border: #5b4e2a solid;
    width:25rem; 
    border-radius: 10px;
    margin:5rem auto; 
}

.sign-out{
    padding: 1rem;
}

.sign-up-link{
    color: chocolate;
}
