.post-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 15px;
    width: 100%;
}

.post-card p {
    margin-bottom: 10px;
}

.post-comments {
    margin-top: 15px;
}

.comment-form {
    display: flex;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.comment-form input[type="text"] {
    flex: 1;
    width: 80%; /* Increased width */
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.comment-form input[type="submit"] {
    background-color: #5b4e2a;
    color: #fff;
    width: 20%; /* Reduced width */
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.comment-form input[type="submit"]:hover {
    background-color: #5b4e2a;;
}

.post-comments-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.comment {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 8px;
    margin-top: 8px;
}
